params {
  profile = false
  ivarMinDepth = 10
  ivarMinVariantQuality = 20
  ivarMinFreqThreshold = 0.25
  ref = "${HOME}/code/artic-ncov2019/primer_schemes/nCoV-2019/V1200/nCoV-2019.reference.fasta"
  gff = "${HOME}/code/artic-ncov2019/primer_schemes/nCoV-2019/V1200/nCoV-2019.gff"
  cache = "${HOME}/.conda/envs"
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    conda.cacheDir = params.cache
  }
}


manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}